


.image{
width: 100%;
    
    
}

.container {
  position: relative;
  text-align: center;
  color: white;
}

/* Centered text */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.contacts{
 border-style: solid;
    margin-top:50px;
    margin-bottom:50px;
    padding-left:50px;
    padding-right:50px;
    background-color:#176DA3;
    border-radius: 15px;
}

.partone{
    border-style: solid;
    margin-top:50px;
    margin-bottom:50px;
    padding-left:50px;
    padding-right:50px;
    background-color:#176DA3;
    border-radius: 15px;
}

.myplan{
    border-style: solid;
    margin-top:50px;
    margin-bottom:50px;
    padding-left:50px;
    padding-right:50px;
    background-color:#176DA3;
    border-radius: 15px;
}

.parttwo{
    border-style: solid;
    margin-top:50px;
    margin-bottom:50px;
    padding-left:50px;
    padding-right:50px;
    background-color:#176DA3;
    border-radius: 15px;
}


h1{
    font-size: 100px;
    color: white;
    text-align: center;
    font-family: 'Patrick Hand';
}

h4{
    font-size: 45px;
    text-align: center;
    color: white;
}

h6{
    font-size: 35px;
    text-align: center;
    color: white;
}

h7{
    font-size: 30px;
    text-align: center;
}