


.image{
width: 100%;


}

.container {
  position: relative;
  text-align: center;
  color: white;
}

/* Centered text */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}




.nav-item{
    font-size: 20px;
    font-family: "Gill Sans", sans-serif;
}


.contacts{
 border-style: solid;
    margin-top:100px;
    margin-bottom:50px;
    padding-left:50px;
    padding-right:50px;
    background-color:#176DA3;
    border-radius: 15px;
}

.partone{
    border-style: solid;
    margin-top:100px;
    margin-bottom:50px;
    padding-left:50px;
    padding-right:50px;
    background-color:#176DA3;
    border-radius: 15px;
}

.Plan{
    border-style: solid;
    margin-top:100px;
    margin-bottom:50px;
    padding-left:50px;
    padding-right:50px;
    background-color:#176DA3;
    border-radius: 15px;
}

.Overview{
    border-style: solid;
    margin-top:100px;
    margin-bottom:50px;
    padding-left:50px;
    padding-right:50px;
    background-color:#176DA3;
    border-radius: 15px;
}


.Benefits{
    border-style: solid;
    margin-top:100px;
    margin-bottom:50px;
    padding-left:50px;
    padding-right:50px;
    background-color:#176DA3;
    border-radius: 15px;
}


h1{
    font-size: 100px;
    color: white;
    text-align: center;
    font-family: "Gill Sans", sans-serif;
}

h4{
    font-size: 35px;
    text-align: center;
    color: white;
    font-family: "Gill Sans", sans-serif;
}

h5{
    font-size: 50px;
    text-align: center;
    color: white;
    font-family: "Gill Sans", sans-serif;

}

h6{
    font-size: 20px;
    text-align: center;
    color: white;
    font-family: "Gill Sans", sans-serif;
}

h7{
    font-size: 30px;
    text-align: center;
    font-family: "Gill Sans", sans-serif;
}

li{
    font-size: 1px;
    font-family: "Gill Sans", sans-serif;
}